{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, {"SwitchCase": 1}],
    "max-len": ["error", 120],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": ["off"]
  },
  "env": {
    "node": true
  }
}